project             = "todolist"
environment         = "dev"
aws_region          = "us-east-1"
vpc_cidr            = "10.0.0.0/16"
az_count            = 2
cluster_name        = "todolist-dev"
budget_limit_usd    = 50
budget_alert_emails = ["you@example.com"]

kubernetes_version          = "1.36"
node_instance_types         = ["t3.small"]
node_desired_size           = 1
node_min_size               = 1
node_max_size               = 2
cluster_public_access_cidrs = []
cluster_enabled_log_types   = []
admin_principal_arns        = []

db_engine_version          = "18.4"
db_name                    = "todolist"
db_master_username         = "todolist"
db_min_capacity            = 0.5
db_max_capacity            = 2
db_backup_retention_period = 7
db_skip_final_snapshot     = true
db_deletion_protection     = false
db_cloudwatch_logs_exports = []
